[Unit]
Description=Мой пользовательский скрипт
After=network.target

[Service]
ExecStart=/home/chaykovski/apps/iot-hub/scripts/startup.sh
WorkingDirectory=/home/chaykovski/apps/iot-hub
User=chaykovski
Restart=always

[Install]
WantedBy=multi-user.target
